/*
 * Koyeb Rest API
 *
 * The Koyeb API allows you to interact with the Koyeb platform in a simple, programmatic way using conventional HTTP requests. 
 *
 * API version: 1.0.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package koyeb

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"time"
)

// Linger please
var (
	_ _context.Context
)

type UsagesApi interface {

	/*
	 * GetOrganizationUsage Get organization usage
	 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return ApiGetOrganizationUsageRequest
	 */
	GetOrganizationUsage(ctx _context.Context) ApiGetOrganizationUsageRequest

	/*
	 * GetOrganizationUsageExecute executes the request
	 * @return GetOrganizationUsageReply
	 */
	GetOrganizationUsageExecute(r ApiGetOrganizationUsageRequest) (GetOrganizationUsageReply, *_nethttp.Response, error)

	/*
	 * GetOrganizationUsageDetails Get organization usage details
	 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return ApiGetOrganizationUsageDetailsRequest
	 */
	GetOrganizationUsageDetails(ctx _context.Context) ApiGetOrganizationUsageDetailsRequest

	/*
	 * GetOrganizationUsageDetailsExecute executes the request
	 * @return GetOrganizationUsageDetailsReply
	 */
	GetOrganizationUsageDetailsExecute(r ApiGetOrganizationUsageDetailsRequest) (GetOrganizationUsageDetailsReply, *_nethttp.Response, error)
}

// UsagesApiService UsagesApi service
type UsagesApiService service

type ApiGetOrganizationUsageRequest struct {
	ctx _context.Context
	ApiService UsagesApi
	startingTime *time.Time
	endingTime *time.Time
}

func (r ApiGetOrganizationUsageRequest) StartingTime(startingTime time.Time) ApiGetOrganizationUsageRequest {
	r.startingTime = &startingTime
	return r
}
func (r ApiGetOrganizationUsageRequest) EndingTime(endingTime time.Time) ApiGetOrganizationUsageRequest {
	r.endingTime = &endingTime
	return r
}

func (r ApiGetOrganizationUsageRequest) Execute() (GetOrganizationUsageReply, *_nethttp.Response, error) {
	return r.ApiService.GetOrganizationUsageExecute(r)
}

/*
 * GetOrganizationUsage Get organization usage
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetOrganizationUsageRequest
 */
func (a *UsagesApiService) GetOrganizationUsage(ctx _context.Context) ApiGetOrganizationUsageRequest {
	return ApiGetOrganizationUsageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return GetOrganizationUsageReply
 */
func (a *UsagesApiService) GetOrganizationUsageExecute(r ApiGetOrganizationUsageRequest) (GetOrganizationUsageReply, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetOrganizationUsageReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsagesApiService.GetOrganizationUsage")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.startingTime != nil {
		localVarQueryParams.Add("starting_time", parameterToString(*r.startingTime, ""))
	}
	if r.endingTime != nil {
		localVarQueryParams.Add("ending_time", parameterToString(*r.endingTime, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GoogleRpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOrganizationUsageDetailsRequest struct {
	ctx _context.Context
	ApiService UsagesApi
	startingTime *time.Time
	endingTime *time.Time
	limit *string
	offset *string
	order *string
}

func (r ApiGetOrganizationUsageDetailsRequest) StartingTime(startingTime time.Time) ApiGetOrganizationUsageDetailsRequest {
	r.startingTime = &startingTime
	return r
}
func (r ApiGetOrganizationUsageDetailsRequest) EndingTime(endingTime time.Time) ApiGetOrganizationUsageDetailsRequest {
	r.endingTime = &endingTime
	return r
}
func (r ApiGetOrganizationUsageDetailsRequest) Limit(limit string) ApiGetOrganizationUsageDetailsRequest {
	r.limit = &limit
	return r
}
func (r ApiGetOrganizationUsageDetailsRequest) Offset(offset string) ApiGetOrganizationUsageDetailsRequest {
	r.offset = &offset
	return r
}
func (r ApiGetOrganizationUsageDetailsRequest) Order(order string) ApiGetOrganizationUsageDetailsRequest {
	r.order = &order
	return r
}

func (r ApiGetOrganizationUsageDetailsRequest) Execute() (GetOrganizationUsageDetailsReply, *_nethttp.Response, error) {
	return r.ApiService.GetOrganizationUsageDetailsExecute(r)
}

/*
 * GetOrganizationUsageDetails Get organization usage details
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetOrganizationUsageDetailsRequest
 */
func (a *UsagesApiService) GetOrganizationUsageDetails(ctx _context.Context) ApiGetOrganizationUsageDetailsRequest {
	return ApiGetOrganizationUsageDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return GetOrganizationUsageDetailsReply
 */
func (a *UsagesApiService) GetOrganizationUsageDetailsExecute(r ApiGetOrganizationUsageDetailsRequest) (GetOrganizationUsageDetailsReply, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetOrganizationUsageDetailsReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsagesApiService.GetOrganizationUsageDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usages/details"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.startingTime != nil {
		localVarQueryParams.Add("starting_time", parameterToString(*r.startingTime, ""))
	}
	if r.endingTime != nil {
		localVarQueryParams.Add("ending_time", parameterToString(*r.endingTime, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.order != nil {
		localVarQueryParams.Add("order", parameterToString(*r.order, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GoogleRpcStatus
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
